<table class="table table-dark">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of tempUsersArray">
    <td>{{user.id}}</td>
    <td>
      <a routerLink="../user" [queryParams]="{id: user.id}">{{user.username}}</a>
    </td>
    <td>{{user.email}}</td>
  </tr>
</table>
<nav class="footer" aria-label="Page navigation example">
  <ul class="pagination pg-blue">
    <li class="page-item">
      <a class="page-link" (click) = "previous()">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click) = "next()">Next</a>
    </li>
  </ul>
</nav>
