<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="login" id="margin">Login<span class="sr-only">(current)</span></a>
      <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" routerLink="register" id="margin">Register<span class="sr-only">(current)</span></a>
        <li class="nav-item active">
          <li class="nav-item">
            <a class="nav-link" routerLink="active" id="margin">Active user<span class="sr-only">(current)</span></a>
          <li class="nav-item active">
            <li class="nav-item">
              <a class="nav-link" routerLink="comments" id="margin">New comment<span class="sr-only">(current)</span></a>
            <li class="nav-item active">
              <li class="nav-item">
                <a class="nav-link" routerLink="comment-table" id="margin">Users<span class="sr-only">(current)</span></a>
              <li class="nav-item active">
            <li class="nav-item">
              <a class="nav-link" routerLink="logout" id="logout">Logout<span class="sr-only">(current)</span></a>
            <li class="nav-item active"> 
    </div>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>