<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Comments</h1>
        <form>
            <div class="form-group">
              <label for="exampleInputComment1">Your comment</label>
              <input type="comment" name="comment" [(ngModel)]="comment" class="form-control" id="exampleInputCommen1" aria-describedby="commentHelp">
            </div>
            <button (click) = "clickedButton()">Send</button> 
        </form>
    </div>
  </div>